{% extends 'layout.html' %}

{% block body %}
<h1>Demande de congés ou heures supplémentaires</h1>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action="">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ render_field(form.title, class_="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.type, class_="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.start_datetime, class= "DateTimeField", class_="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.end_datetime, class= "DateTimeField", class_="form-control") }}
    </div>

    <p><input class="btn btn-primary" type="submit" value="Soumettre">
</form>
{% endblock %}