{% extends 'layout.html' %}

{% block body %}
<h1>Vue Administrateur<small> Bienvenue {{session.email}}</small></h1>

<table class="table table-striped">
    <tr>
        <th>Email</th>
        <th>Titre</th>
        <th>Type</th>
        <th>Début</th>
        <th>Fin</th>
        <th>Gestion</th>
    </tr>
    {% for event in calendar %}
    <tr>
        <td>{{event.user}}</td>
        <td>{{event.title}}</td>
        <td>{{event.type}}</td>
        <td>{{event.start}}</td>
        <td>{{event.end}}</td>
        {% if event.is_processed == False %}
            <td>
                <form method="POST" action="{{ url_for('accept_event', event_id=event.id) }}">
                    <button type="submit" class="btn btn-success">Accepter</button>
                </form>
                <form method="POST" action="{{ url_for('reject_event', event_id=event.id) }}">
                    <button type="submit" class="btn btn-danger">Rejeter</button>
                </form>
            </td>
        {% else %}
            {% if event.is_valid == True %}
                <td>Accepté</td>
            {% else %}
                <td>Refusé</td>
            {% endif %}
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}