{% extends 'layout.html' %}

{% block body %}
<h1>Tableau de bord <h1>
<a class="btn btn-success" href="/add_events"> Créer une demande</a>
<hr>
<table class="table-striped">
    <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Type</th>
        <th>Début</th>
        <th>Fin</th>
        <th>Statut</th>
        <th>Supprimer</th>
    </tr>
    {% for event in list %}
    <tr>
        <td>{{event.id}}</td>
        <td>{{event.title}}</td>
        <td>{{event.type}}</td>
        <td>{{event.start}}</td>
        <td>{{event.end}}</td>
        {% if event.is_processed == False %}
            <td> En attente de gestion </td>
            <td> 
                <form method="POST" action="{{ url_for('remove_event', event_id=event.id) }}">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </td>
        {% else %}
            {% if event.is_valid == True %}
                <td> Accepter </td>
                <td></td>
            {% else %}
                <td> Refuser </td>
                <td></td>
            {% endif %}
        {% endif %}

    </tr>
    {% endfor %}
</table>
<div id="calendar"></div>
{% endblock %}